

<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <div>
        <a class="d-inline-block mr-3"  (click)="NavToQuestionTest()" href="javascript:void(0)"> <mat-icon color="primary">keyboard_backspace</mat-icon></a>
      </div>
      <div>
        <mat-card-title class="head"> Ajouter Question</mat-card-title>
      </div>
    </mat-card-header>

    <form (ngSubmit)="onSubmit()" [formGroup]="addquestion">
      <nb-card>

        <nb-card-body>
          <div class="text-left">
            <div class="col-4 d-inline-block">



              <div>
                <mat-form-field>
                  <input matInput  formControlName="desgnQuestion" required placeholder="desgnQuestion">
                  <mat-error *ngIf="desgnQuestion.invalid">{{formErrors.required}}</mat-error>

                </mat-form-field>
              </div>


              <div>
                <mat-form-field>
                  <input matInput  formControlName="tempsQuestion" type="number" required placeholder="TempsQuestion ">
                  <mat-error *ngIf="tempsQuestion.invalid">{{formErrors.required}}</mat-error>

                </mat-form-field>
              </div>
              <div>

                <mat-form-field>
                  <input matInput type="text" formControlName="theme" required placeholder="Theme">
                  <mat-error *ngIf="theme.invalid">{{formErrors.required}}</mat-error>

                </mat-form-field>
              </div>

              <div>

                <mat-form-field>
                  <input matInput type="text" formControlName="unite" required placeholder="Unité">
                  <mat-error *ngIf="unite.invalid">{{formErrors.required}}</mat-error>

                </mat-form-field>
              </div>


            </div>
          </div>



        </nb-card-body>


        <nb-card-footer>
          <div class="text-left">
            <button mat-raised-button  class=" m-2" color="warn">Ajouter Question</button>

            <button mat-raised-button (click)="OnReset()" class=" m-2" color="primary">Annuler</button>
          </div>

        </nb-card-footer>
      </nb-card>



    </form>
  </mat-card>
</div>
